.xs {
  display: none;
}

.header {
  padding: 2.375rem 0 9.8125rem;
  width: 100vw;
  background-image: url("../img/backgrn.jpg");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.burger_menu {
  display: none;
}

.nav_logo {
  margin: 15px;
}

.nav_logo__img {
  max-width: 189px;
}

.nav_logo:hover {
  cursor: pointer;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.nav_wrapper__item {
  margin-right: 3.6875rem;
}

.nav_wrapper__item__link {
  font-family: Raleway;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.nav_wrapper__item__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav_wrapper__item__link:hover::after {
  width: 100%;
}

.nav_wrapper__item:last-child {
  margin-right: 0;
}

.header_main {
  display: block;
}

.header_main::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: auto;
  margin-top: 1.5625rem;
}

.header_main__title {
  margin-top: 9.6875rem;
  font-family: Open Sans;
  font-size: 4.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.header_main__text {
  margin-top: 2.5625rem;
  font-family: Raleway;
  font-size: 1.375rem;
  text-align: center;
  color: #ffffff;
}

.header_main__btn {
  width: 250px;
}

/*FOR MENU*BURGER*/
/*END MENU BURGER*/
@media (max-width: 1024px) {
  .nav_wrapper__item {
    margin-right: 2.8rem;
  }
}

@media (max-width: 768px) {
  .nav_wrapper__item {
    margin-right: 2rem;
  }
  .nav_logo__img {
    width: 120px;
  }
}

@media (max-width: 576px) {
  .nav_wrapper {
    display: none;
  }
  .xs {
    display: block;
  }
  .nav-bar {
    position: absolute;
    background-color: #3A3E64;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
  }
  .toggle {
    left: 0;
    -webkit-box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  }
  .toggle-menu {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
  }
  .toggle .line1 {
    background-color: #000000;
    -webkit-transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
            transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }
  .toggle .line2 {
    display: none;
  }
  .toggle .line3 {
    background-color: #000000;
    -webkit-transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
            transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }
  .toggle .toggle-menu {
    background-color: white;
  }
  .nav-list {
    list-style: none;
  }
  .nav-list-item {
    text-align: center;
    padding: 10px 0;
  }
  .nav-link {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    text-transform: uppercase;
  }
  .nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
  }
  .nav-link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=header.css.map */