@charset "UTF-8";
.xs {
  display: none;
}

.header {
  padding: 2.375rem 0 9.8125rem;
  width: 100vw;
  background-image: url("../img/backgrn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.burger_menu {
  display: none;
}

.nav_logo {
  margin: 15px;
}

.nav_logo__img {
  max-width: 189px;
}

.nav_logo:hover {
  cursor: pointer;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.nav_wrapper__item {
  margin-right: 3.6875rem;
}

.nav_wrapper__item__link {
  font-family: Raleway;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.nav_wrapper__item__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav_wrapper__item__link:hover::after {
  width: 100%;
}

.nav_wrapper__item:last-child {
  margin-right: 0;
}

.header_main {
  display: block;
}

.header_main::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: auto;
  margin-top: 1.5625rem;
}

.header_main__title {
  margin-top: 9.6875rem;
  font-family: Open Sans;
  font-size: 4.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.header_main__text {
  margin-top: 2.5625rem;
  font-family: Raleway;
  font-size: 1.375rem;
  text-align: center;
  color: #ffffff;
}

.header_main__btn {
  width: 250px;
}

@media (max-width: 1024px) {
  .nav_wrapper__item {
    margin-right: 2.8rem;
  }
}

@media (max-width: 768px) {
  .nav_wrapper__item {
    margin-right: 2rem;
  }
  .nav_logo__img {
    width: 120px;
  }
  .header_main__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .nav_wrapper {
    display: none;
  }
  .header__nav {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    background: #313454;
    -webkit-box-shadow: #ccc;
            box-shadow: #ccc;
    width: 100%;
    height: 100vh;
    -webkit-box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
            box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header__nav.open-menu {
    left: 0;
  }
  .nav_logo {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .header__menu li {
    margin: 40px 0px 40px 33px;
    text-align: center;
  }
  .menu__item {
    color: #ffffff;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .menu-burger__header {
    position: relative;
    width: 40px;
    right: -90%;
    display: block;
  }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .menu-burger__header span {
    top: 21px;
  }
  .menu-burger__header:after, .menu-burger__header:before {
    content: '';
  }
  .menu-burger__header:after {
    bottom: 5px;
  }
  .menu-burger__header:before {
    top: 5px;
  }
  /*если произошел клик по иконке к бургеру доб класс open-menu и описываем его*/
  .menu-burger__header.open-menu span {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu-burger__header.open-menu:before {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
    margin-bottom: -4px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
    margin-bottom: -12px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
/*# sourceMappingURL=header.css.map */